* {
  box-sizing: border-box;
}

html {
  --user-photo-width: 150px;
}

body {
  font-family: sans-serif;
  line-height: 1.3;
}

.Content_Wrapper {
  padding: 0 1em 1em;
}

.UserImg {
  width: var(--user-photo-width);
  height: var(--user-photo-width);
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
  margin-top: calc((-1) * var(--user-photo-width) / 2);
  border: 3px solid white;
}

.User_Card {
  max-width: 400px;
  width: 100%;
  min-width: 300px;
  margin: 50px auto;
  border-radius: 25px;
  box-shadow: 0px 0px 15px red;
  overflow: hidden;
  text-align: center;
}

.background {
  background-image: url(./../images/Background.jpg);
  height: 250px;
  color: white;
  padding: 15px;
  text-align: right;
}

a {
  text-decoration: none;
  color: inherit;
}

.UserName {
  font-size: 2rem;
  margin: 0.4em 0;
}

.UserGeo {
  font-size: 1rem;
  margin: 0.5em 0;
}

.UserJob {
  font-size: 1.5rem;
  margin: 0.4em 0;
}

.UserExperience {
  font-size: 1rem;
  margin: 1.2em 0;
}

.UserSocialLink {
  color: white;
  font-size: 1rem;
  background-color: black;
  border-radius: 50%;
  padding-top: 10px;
  width: 35px;
  height: 35px;
  margin: 5px;
}

.UserSocialLink + .UserSocialLink {
  margin-left: 30px;
}